.pokiTenpo
{
  margin: 0 auto;
  width: 810px;
  height: 30px;
  padding: 30px 0 10px;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.25s;
}

.tenpo
{
  position: absolute;
  display: flex;
  flex-direction: row;
  transition: left 0.25s;
}

.tawa
{
  display: flex;
  justify-content: center;

  width: 1em;
  height: 0.8em;
}

button
{
  text-align: center;
  font-family: material-icons;
  font-weight: 500;
  font-size: 0.5em;
  background-color: #fff;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 12px -1px;
  cursor: pointer;
  transition: all 0.05s;
}

button:active
{
  transform: translateY(1px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px -1px;
}

.tawa button
{
  width: 1.6em;
}

.kama
{
  opacity: 0.25;
}

.panaTenpo
{
  margin: 0 auto;
  font-size: 30px;
  vertical-align: top;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.panaTenpo button
{
  margin: 0 0.2em;
  width: 1.6em;
  height: 1.6em;
}
