@font-face
{
  font-family: truculenta-variable;
  /* wght 100.900, wdth 75..125, opsz 12..72 */
  src: url('./fonts/Truculenta-VariableFont_opsz,wdth,wght.ttf') format('truetype');
}

@font-face
{
  font-family: linja-pona;
  src: url('./fonts/linja-pona-4.2.woff') format('woff');
}

body
{
  background-color: #ded;
  color: #222;
  font-family: truculenta-variable;
  font-feature-settings: 'liga' 1, 'clig' 1, 'calt' 1, 'kern' 1, 'mark' 1;
  font-variation-settings: 'wght' 400, 'wdth' 125, 'opsz' 42;
  text-rendering: optimizeLegibility;
  font-size: 24px;
}
