.Leko
{
  margin: 0;
  padding: 0;
  width: 1em;
  height: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: absolute;
}

.sitelen
{
  font-family: linja-pona;
  font-size: 1.125em;
}

.nimi
{
  line-height: 0.75em;
  position: relative;
  top: -0.07em;
}

.linjaWan
{
  font-size: 0.8em;
  font-weight: 350;
}

.linjaTu
{
  font-size: 0.625em;
  font-weight: 400;
}
