.Leko
{
  margin: 0;
  padding: 0;
  width: 1em;
  height: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: absolute;
  transition: all 0.2s;
}

.Leko.ijo, .Leko.kulupu, .Leko.toki
{
  color: #fff;
  opacity: 0.75;
}

.Leko.ijo
{
  border-radius: 0.1em;
}

.Leko.kulupu
{
  border-radius: 0.3em;
}

.Leko.toki
{
  border-radius: 0.5em;
}

.sitelen span
{
  font-family: linja-pona;
  font-size: 1.125em;
}

.nimi
{
  line-height: 0.75em;
  position: relative;
}

.linjaWan
{
  font-size: 0.8em;
  font-weight: 350;
  top: -0.02em;
}

.linjaTu
{
  font-size: 0.625em;
  font-weight: 400;
  top: -0.07em;
}
